.fof-pwa-Page {
  .ExtensionPage-body .container {
    max-width: 720px;
  }
}

.PWAPage-section {
  margin-top: 20px;
}

.logoFieldset {
  padding: 25px 10px;
  margin: 0;
  border-top: 2px solid #b3b2b2
}
