.fof-pwa-Page {
  .ExtensionPage-body .container {
    max-width: 720px;
  }

  .logoSet {
    padding: 1em 0.3em;
    border-top: 1px solid var(--control-color);
  }
}

.PWAPage-section {
  margin-top: 20px;
}

