.pwa-setting-alert {
  .icon {
    margin-right: 0.8em;
  }
}

.PWANotificationsHelpPage {
  .Page-sidebar {
    display: none;
  }

  .Page-container {
    max-width: 500px;
  }

  .Page-content {
    font-size: var(--post-font-size);

    section {
      margin-bottom: 2.3em;
    }
  }
}
